.batch-scanning-showcase1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 340px;

  animation: slide-up 1s normal forwards ease-in-out;
}

.batch-scanning-showcase2 {
  position: absolute;
  bottom: -600px;
  left: 50%;
  transform: translateX(-50%);

  width: 190px;

  animation: slide-scale1 0.75s normal forwards ease-in-out;
  animation-delay: 1s;
}

.batch-scanning-showcase3 {
  position: absolute;
  bottom: -600px;
  left: 50%;
  transform: translateX(-50%);

  width: 210px;

  animation: slide-scale2 0.75s normal forwards ease-in-out;
  animation-delay: 1.5s;
}

.batch-scanning-showcase4 {
  position: absolute;
  bottom: -600px;
  left: 50%;
  transform: translateX(-50%);

  width: 230px;

  animation: slide-scale3 0.75s normal forwards ease-in-out;
  animation-delay: 2s;
}

@keyframes slide-up {
  from {
    bottom: -600px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slide-scale1 {
  from {
    bottom: -400px;
    scale: 0.8;
    opacity: 0;
  }

  to {
    bottom: 60px;
    scale: 1;
    opacity: 1;
  }
}

@keyframes slide-scale2 {
  from {
    bottom: -400px;
    scale: 0.8;
    opacity: 0;
  }

  to {
    bottom: 20px;
    scale: 1;
    opacity: 1;
  }
}

@keyframes slide-scale3 {
  from {
    bottom: -400px;
    scale: 0.8;
    opacity: 0;
  }

  to {
    bottom: -20px;
    scale: 1;
    opacity: 1;
  }
}

@media only screen and (width <= 1228px) {
  .batch-scanning-showcase1 {
    width: 280px;
  }

  .batch-scanning-showcase2 {
    width: 150px;
  }

  .batch-scanning-showcase3 {
    width: 170px;
  }

  .batch-scanning-showcase4 {
    width: 190px;
  }
}

@media only screen and (width >= 1228px) {
  .batch-scanning-showcase1 {
    width: 340px;
  }

  .batch-scanning-showcase2 {
    width: 190px;
  }

  .batch-scanning-showcase3 {
    width: 210px;
  }

  .batch-scanning-showcase4 {
    width: 230px;
  }
}
