.batchScanning_showcase1 {
  width: 340px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: slideUp 1s normal forwards ease-in-out;
}

.batchScanning_showcase2 {
  width: 190px;
  position: absolute;
  animation: slideScale1 0.75s normal forwards ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 1s;
  bottom: -600px;
}

.batchScanning_showcase3 {
  width: 210px;
  position: absolute;
  animation: slideScale2 0.75s normal forwards ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 1.5s;
  bottom: -600px;
}

.batchScanning_showcase4 {
  width: 230px;
  position: absolute;
  animation: slideScale3 0.75s normal forwards ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 2s;
  bottom: -600px;
}

@keyframes slideUp {
  from {
    bottom: -600px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes slideScale1 {
  from {
    bottom: -400px;
    scale: 0.8;
    opacity: 0;
  }
  to {
    bottom: 60px;
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideScale2 {
  from {
    bottom: -400px;
    scale: 0.8;
    opacity: 0;
  }
  to {
    bottom: 20px;
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideScale3 {
  from {
    bottom: -400px;
    scale: 0.8;
    opacity: 0;
  }
  to {
    bottom: -20px;
    scale: 1;
    opacity: 1;
  }
}

@media only screen and (max-width: 1228px) {
  .batchScanning_showcase1 {
    width: 280px;
  }

  .batchScanning_showcase2 {
    width: 150px;
  }

  .batchScanning_showcase3 {
    width: 170px;
  }

  .batchScanning_showcase4 {
    width: 190px;
  }
}

@media only screen and (min-width: 1228px) {
  .batchScanning_showcase1 {
    width: 340px;
  }

  .batchScanning_showcase2 {
    width: 190px;
  }

  .batchScanning_showcase3 {
    width: 210px;
  }

  .batchScanning_showcase4 {
    width: 230px;
  }
}
