.tabs__container {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tabs__tab {
  min-width: 300px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  border-left: 1px solid #f3f3f3;
  flex: 1;
  border-right: 1px solid #f3f3f3;
  transition: 0.2s;
  border: 3px solid transparent;
  color: #666666;
}

.tabs__tab:hover {
  border: 3px solid #0381ff;
}

.tabs__tabActive {
  background-color: #f7fbff;
  color: #0381ff;
  --step: 0%;
}

.tabs__tabLabel {
  line-height: 28px;
  user-select: none;
  color: #000000;
  font-weight: 500;
}

.tabs__tabIcon {
  margin-right: 16px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs__tabIconActive {
  background: conic-gradient(#0381ff var(--angle), #f7fbff 0deg 360deg);
  animation: rotate 0.75s normal forwards ease-in-out;
}

.tabs__tabIconInside {
  background-color: #f3f3f3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>'; /* this can be angle or percentage */
  initial-value: 0deg;
  inherits: false;
}
