.tabs__container {
  display: flex;
}

.tabs__tab {
  min-width: 300px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  border-left: 1px solid #f3f3f3;
  flex: 1;
  border-right: 1px solid #f3f3f3;
}

.tabs__tabActive {
  background-color: #f7fbff;
  color: #0381ff;
}

.tabs__tabIcon {
  margin-right: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
}

.tabs__tabLabel {
  line-height: 28px;
  user-select: none;
}
