.advancedFilters_showcase1 {
  width: 340px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: slideUp 1s normal forwards ease-in-out;
}

.advancedFilters_showcase2 {
  width: 42px;
  position: absolute;
  left: calc(50% - 200px);
  transform: translateX(-50%);
  bottom: 10px;
  animation: opacityIn 0.75s normal forwards ease-in-out;
  animation-delay: 1s;
  opacity: 0;
}

.advancedFilters_showcase3 {
  width: 42px;
  position: absolute;
  left: calc(50% + 200px);
  transform: translateX(-50%);
  bottom: 10px;
  animation: opacityIn 0.75s normal forwards ease-in-out;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes slideUp {
  from {
    bottom: -600px;
  }
  to {
    bottom: 0;
  }
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1228px) {
  .advancedFilters_showcase1 {
    width: 280px;
  }

  .advancedFilters_showcase2 {
    width: 32px;
    left: calc(50% - 160px);
  }

  .advancedFilters_showcase3 {
    width: 32px;
    left: calc(50% + 160px);
  }
}

@media only screen and (min-width: 1228px) {
  .advancedFilters_showcase1 {
    width: 340px;
  }

  .advancedFilters_showcase2 {
    width: 42px;
    left: calc(50% - 200px);
  }

  .advancedFilters_showcase3 {
    width: 42px;
    left: calc(50% + 200px);
  }
}
