.document-scanner-showcase {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 340px;

  animation: slide-up 1s normal forwards ease-in-out;
}

@keyframes slide-up {
  from {
    bottom: -600px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@media only screen and (width <= 1228px) {
  .document-scanner-showcase {
    width: 280px;
  }
}

@media only screen and (width >= 1228px) {
  .document-scanner-showcase {
    width: 340px;
  }
}
