.export-share-showcase1 {
  position: absolute;
  bottom: -600px;
  left: 50%;
  transform: translateX(-50%);

  width: 340px;

  animation: slide-up 1s normal forwards ease-in-out;
}

.export-share-showcase2 {
  position: absolute;
  bottom: -600px;

  width: 24px;

  animation: slide-far-left 0.75s normal forwards ease-in-out;
  animation-delay: 1s;
}

.export-share-showcase3 {
  position: absolute;
  bottom: -600px;

  width: 130px;

  animation: slide-left 0.75s normal forwards ease-in-out;
  animation-delay: 1.25s;
}

.export-share-showcase4 {
  position: absolute;
  bottom: -600px;

  width: 130px;

  animation: slide-center 0.75s normal forwards ease-in-out;
  animation-delay: 1.5s;
}

.export-share-showcase5 {
  position: absolute;
  bottom: -600px;

  width: 130px;

  animation: slide-right 0.75s normal forwards ease-in-out;
  animation-delay: 1.75s;
}

@keyframes slide-up {
  from {
    bottom: -600px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slide-far-left {
  from {
    bottom: -600px;
    left: 50%;
    transform: translateX(-50%);
  }

  to {
    bottom: 30px;
    left: calc(50% - 160px);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    bottom: -600px;
    left: 50%;
    transform: translateX(-50%);
  }

  to {
    bottom: 40px;
    left: calc(50% - 170px);
    transform: translateX(0);
  }
}

@keyframes slide-center {
  from {
    bottom: -600px;
    left: 50%;
    transform: translateX(-100px -50%);
  }

  to {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  from {
    bottom: -600px;
    left: 50%;
    transform: translateX(-50%);
  }

  to {
    bottom: 35px;
    left: calc(50% + 60px);
    transform: translateX(0);
  }
}

@media only screen and (width <= 1228px) {
  .export-share-showcase1 {
    width: 280px;
  }
}

@media only screen and (width >= 1228px) {
  .export-share-showcase1 {
    width: 340px;
  }
}
