.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__showCase {
  overflow: hidden;
  position: relative;
  flex: 1;
}

.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.slider__header {
  line-height: 32px;
  color: #0381ff;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
}

.slider__title {
  line-height: 32px;
  color: #000000;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}

.slider__description {
  line-height: 32px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
}

.slider__cta {
  width: 135px;
  height: 54px;
  border: 2px solid #eeeeee;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
}

@media only screen and (max-width: 1228px) {
  .slider__showCase {
    height: 500px;
    width: 100vw;
  }

  .slider__content {
    width: 100%;
    padding: 64px 32px 16px 32px;
    text-align: center;
  }

  .slider__cta {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1228px) {
  .slider__showCase {
    height: 600px;
    width: 480px;
  }

  .slider__content {
    width: 600px;
    padding: 64px;
    text-align: right;
  }

  .slider__cta {
    margin: 0 0 0 auto;
  }
}
